[user]
	email = szheng@cyber.nyc.gov
	name = Stanley Zheng

[includeIf "gitdir:~/Code/personal/"]
  path = .gitconfig-company_b
[credential "github.com"]
	useHttpPath = true
[credential]
	helper = osxkeychain
[core]
	autocrlf = false
