[user]
	email = stanley@zheng.nyc
	name = Stanley Zheng

[includeIf "gitdir:~/Code/personal/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/Code/hype/"]
  path = .gitconfig-hype
[includeIf "gitdir:~/Code/work/"]
  path = .gitconfig-work
[credential "github.com"]
	useHttpPath = true
[credential]
	helper = osxkeychain
[core]
	autocrlf = false
